* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

form {
    margin: 1rem;
}

form .optional {
    font-size: .75rem;
    color: darkblue;
}

form label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

form div {
    padding-top: 1rem;
    font-size: .9rem;
}

form select,
form input[type="date"],
form input[type="text"] {
    display: block;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem 0;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

form input[type="checkbox"] {
    margin-right: 6px;
}

form .rating-container {
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

form .rating-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form textarea {
    display: block;
    height: 5rem;
    width: 100%;
    max-width: 400px;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 6px;
    color: #555;
}

form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#eee, #aaa);
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
}

footer {
    grid-area: 3/1/4/3;
    background-color: #444;
    color: #fff;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}

footer #lastModified {
    font-size: .8rem;
}

.color {
    color: aquamarine;
}